@layer components {
    .teaser.\--teaser-card {
        &+.\--teaser-card {
            @apply pl-4;
        }
        .cmp-teaser {
            @apply relative overflow-hidden shadow-xl;
        }
        .cmp-teaser__image {}
        .cmp-teaser__content {
            @apply px-4 py-6;
            bottom: 0;
        }
        .cmp-teaser__pretitle {}
        .cmp-teaser__title {}
        .cmp-teaser__title-link {}
        .cmp-teaser__description {}
        .cmp-teaser__action-container {}
        .cmp-teaser__action-link {}
        .cmp-teaser--bg-blur {
            @apply w-full h-full absolute inset-0 bg-contain block opacity-50;
            z-index: -1;
            filter: blur(1rem);
        }
    }
}