@tailwind base;
@tailwind utilities;

/* Base */

html,
body {
    @apply bg-black text-white font-sans h-full;
    /* font-size: $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color: $color-foreground;
    background: $color-background;
    @media (prefers-color-scheme: dark) {
        color: $color-foreground-dark;
        background: $color-background-dark;
    } */
}

button,
a {
    @apply text-white;
}

a,
button,
input {
    &:focus {
        @apply outline-none shadow-focus;
    }
}

.root.container.responsivegrid {
    @apply h-full max-w-full;
    &>.cmp-container {
        @apply flex flex-col h-full;
        main {
            @apply flex-1;
        }
    }
}

.container.responsivegrid {
    @apply max-w-full;
}

@layer base {
    h1,
    .h1 {
        @apply text-h1 font-sans font-bold text-white uppercase;
    }
    h2,
    .h2 {
        @apply text-h2 font-sans font-bold text-white uppercase;
    }
    h3,
    .h3 {
        @apply text-h3 font-sans font-bold text-white;
    }
    h1,
    h2,
    h3,
    .h1,
    .h2,
    .h3 {
        @apply relative pb-8;
        &:after {
            @apply absolute w-32 h-1 bg-indigo mb-4;
            content: "";
            bottom: 0;
            left: 0;
        }
    }
    .title.text-center {
        h1,
        h2,
        h3,
        .h1,
        .h2,
        .h3 {
            @apply relative pb-8;
            &:after {
                @apply absolute w-32 h-1 bg-indigo mb-4 transform -translate-x-1/2;
                content: "";
                bottom: 0;
                left: 50%;
            }
        }
    }
    .title.\--title-no-underline {
        h1,
        h2,
        h3,
        .h1,
        .h2,
        .h3 {
            &::after {
                content: none;
            }
        }
    }
    .title.capitalize {
        h1,
        h2,
        .h1,
        .h2 {
            @apply capitalize;
        }
    }
}